n8n_workflow_zonaprop.json
{
    "name": "Zonaprop Scraper → GHL (Opción B: Mensaje Asíncrono)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "zonaprop-search",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger (Desde GHL)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "zonaprop-search",
            "notesInFlow": true,
            "notes": "GHL envía a este webhook los filtros requeridos (operacion, tipo, barrio, etc) junto con el contactId y phone del Lead."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://catalogo.korvance.com/api/search",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ filters: { operacion: $json.body.operacion || 'venta', tipo: $json.body.tipo || 'departamentos', barrio: $json.body.barrio || 'palermo', ambientes: $json.body.ambientes || '', precioMin: $json.body.precioMin || '', precioMax: $json.body.precioMax || '', moneda: $json.body.moneda || 'dolares' } }) }}",
                "options": {
                    "timeout": 120000,
                    "allowUnauthorizedCerts": true,
                    "response": {
                        "response": {
                            "fullResponse": false
                        }
                    }
                }
            },
            "id": "http-scraper",
            "name": "Buscar en Zonaprop (Scraper VPS)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ],
            "notesInFlow": true,
            "notes": "Llama a la API local de Node.js donde configuramos Playwright para descargar las propiedades en tiempo real."
        },
        {
            "parameters": {
                "jsCode": "// Extraer propiedades de la respuesta del scraper\nconst response = $input.first().json;\nconst webhookData = $('Webhook Trigger (Desde GHL)').item.json || {};\nconst webhookBody = webhookData.body || {};\nconst callContactId = webhookData.contactId || webhookBody.contactId || (webhookData.contactIds && webhookData.contactIds[0]) || '';\n\nif (!response.success || !response.data || !response.data.properties || response.data.properties.length === 0) {\n  return [{\n    json: {\n      hasResults: false,\n      contactId: callContactId,\n      whatsappMessage: 'Hola, recién terminé de escanear el mercado entero y por el momento no encontré opciones que coincidan 100% con tu pedido. 😔 Seguiré en contacto si ingresa algo nuevo.'\n    }\n  }];\n}\n\nconst properties = response.data.properties;\n\n// Armar un resumen corto. GHL permite mensajes que no sean demasiado inmensos.\nlet resumenPropiedades = '';\nfor (let i = 0; i < Math.min(3, properties.length); i++) {\n  resumenPropiedades += `\\n🔹 *${properties[i].title}*\\n💰 ${properties[i].price}\\n📍 ${properties[i].location}\\n🔗 Ver Ficha: ${properties[i].rebrandedUrl}\\n`;\n}\n\n// El enlace general para ver todo el listado, podemos armarlo en base a los datos:\n// ej. \"https://catalogo.korvance.com/busqueda?barrio=palermo&operacion=venta...\"\n// Pero el scraper ya devuelve el enlace real original. \n// Si creaste un enlace en tu API (ej: response.data.searchUrl), puedes usarlo aquí.\nconst urlListadoDinamico = `https://catalogo.korvance.com/busqueda?operacion=${webhookBody.operacion || 'venta'}&tipo=${webhookBody.tipo || 'departamentos'}&barrio=${webhookBody.barrio || 'palermo'}&ambientes=${webhookBody.ambientes || ''}`;\n\n// Crear mensaje final de WhatsApp\nconst finalMessage = `¡Hola! Estuve escaneando el mercado y *encontré ${properties.length} opciones* interesantes con esos filtros.\\n\\nTe dejo mis destacadas:${resumenPropiedades}\\n\\n👉 *[Ver todo el listado completo aquí]*\\n${urlListadoDinamico}\\n\\n¿Te gustaría coordinar una visita para alguna de ellas?`;\n\n// Devolver la info estructurada\nreturn [{\n  json: {\n    hasResults: true,\n    contactId: callContactId,\n    whatsappMessage: finalMessage,\n    totalProperties: properties.length,\n    listUrl: urlListadoDinamico\n  }\n}];"
            },
            "id": "code-format",
            "name": "Armar Mensaje WhatsApp",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                750,
                300
            ],
            "notesInFlow": true,
            "notes": "Parsea el Data, formatea las mejores 3 opciones, e inventa el link universal al listado para el mensaje"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://services.leadconnectorhq.com/conversations/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  type: \"WhatsApp\",\n  contactId: $json.contactId,\n  message: $json.whatsappMessage\n}) }}",
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": false
                        }
                    }
                },
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Version",
                            "value": "2021-04-15"
                        }
                    ]
                }
            },
            "id": "ghl-send-message",
            "name": "Enviar WhatsApp (API GHL)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "TU_CREDENTIAL_ID",
                    "name": "GHL API Key"
                }
            },
            "notesInFlow": true,
            "notes": "Envía el mensaje directamente al contacto asíncronamente."
        }
    ],
    "connections": {
        "Webhook Trigger (Desde GHL)": {
            "main": [
                [
                    {
                        "node": "Buscar en Zonaprop (Scraper VPS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar en Zonaprop (Scraper VPS)": {
            "main": [
                [
                    {
                        "node": "Armar Mensaje WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Armar Mensaje WhatsApp": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp (API GHL)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "zonaprop"
        },
        {
            "name": "ghl"
        }
    ]
}